body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar{
    background-color: #cc1212;
    padding: 3px;
}

.navbar a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 25px;
}

/*.navbar a.active{
    background-color: white;
    color: black;
}

.navbar a.login-form-active{
    background-color: white;
    color: black;
}
*/

ul li a:hover{
    /*padding: 15px;*/
    /*opacity: 0.5;*/
    transition-duration: 0.5s;
    /*border-radius: 25px;*/
    /*background: rgba(51, 170, 51, .4);*/
    background-color: white;
    color: black;
}


.menu {
    text-align: right;
}

.menu ul{
    position: absolute;
    display: flex;
    list-style-type: none;
}

.menu li{
    display: inline;
}

.login-form{
    width: 600px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.login-form input{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 18px;
    border: 1px solid gray;
    display: block;
    width: 50%;
}

input::placeholder{
    text-align: center;
    color: red;
}


.login-form h4 a{
    text-decoration: none;
    color: black;
    font-size: 100%;
}

.login-form h5 a{
    text-decoration: none;
    color: black;
    font-size: 110%;
}

.sign-up h5 a{
    text-decoration: none;
    color: black;
    font-size: 110%;
}


.login-form input[type="submit"]{
    background-color: #cc1212;
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
} 

.login-form input[type="submit"]:hover{
    background-color: #f70202;
    transition-duration: 0.5s;
}  

.sign-up{
    width: 600px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.sign-up input{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 18px;
    border: 1px solid gray;
    display: block;
    width: 50%;
}

.sign-up input[type="submit"]{
    background-color: #cc1212;
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
} 

.sign-up input[type="submit"]:hover{
    background-color: #f70202;
    transition-duration: 0.5s;
}  