body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.navbar{
    background-color: #cc1212;
    padding: 3px;
}

.navbar a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 25px;
}

/*.navbar a.active{
    background-color: white;
    color: black;
}

.navbar a.login-form-active{
    background-color: white;
    color: black;
}
*/

ul li a:hover{
    /*padding: 15px;*/
    /*opacity: 0.5;*/
    transition-duration: 0.5s;
    /*border-radius: 25px;*/
    /*background: rgba(51, 170, 51, .4);*/
    background-color: white;
    color: black;
}


.menu {
    text-align: right;
}

.menu ul{
    position: absolute;
    display: flex;
    list-style-type: none;
}

.menu li{
    display: inline;
}

img{
    height: 50px;
    border-radius: 100px;
    /*box-shadow: 1px 1px 6px white;*/
    position: absolute;

}


.login-form{
    background-color: white;
    width: 400px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    transition: all ease-in-out 0.3s;
}

.login-form:hover{
    box-shadow: 0.5px 5px 20px gray;
    transition: all ease-in-out 0.3s;
}

.login-form .l-inputs input{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    display: block;
    width: 70%;
    border-radius: 18px;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 3px 5px gray;
}

.login-form input:focus {
  border-color: #cc1212;
}


input::placeholder{
    text-align: center;
    color: red;
}

.l-inputs input:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
    border-radius: 18px;

}


.login-form h4 a{
    text-decoration: none;
    color: black;
    font-size: 100%;
}

.login-form h5 a{
    text-decoration: none;
    color: black;
    font-size: 110%;
}

.sign-up h5 a{
    text-decoration: none;
    color: black;
    font-size: 110%;
}


.login-form input[type="submit"]{
    border-radius: 18px;
    padding: 10px;
    background-color: #f70202;
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
} 

.login-form input[type="submit"]:hover{
    box-shadow: 0.5px 1.5px 5px gray;
    background-color: #cc1212;
    transition-duration: 0.3s;
}  

.sign-up{
    background-color: white;
    width: 400px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 20px;
}

.sign-up .s-inputs input{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    display: block;
    width: 70%;
    transition: all ease-in-out 0.3s;
    box-shadow: 2px 3px 5px gray;
    border-radius: 18px;
}

.s-inputs input:hover{
    box-shadow: 2px 3px 13px gray;
    transition: all ease-in-out 0.3s;
    border-radius: 18px;
}

.sign-up input:focus {
  border-color: #cc1212;
}

.sign-up:hover{
    box-shadow: 0.5px 5px 20px gray;
    transition: all ease-in-out 0.3s;
}

.sign-up input{
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    /*border-radius: 18px;*/
    border: 1px solid gray;
    display: block;
    width: 70%;
    transition: all ease-in-out 0.3s;

}

.sign-up input[type="submit"]{
    border-radius: 15px;
    background-color: #f70202;
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
} 

.sign-up input[type="submit"]:hover{
    background-color: #cc1212;
    transition-duration: 0.3s;
    box-shadow: 0.5px 1.5px 5px gray;
} 

/*p{
    font-weight: bold;
    color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
}*/

.texts h3{
    text-decoration: none;
    color: #cc1212;
    font-weight: bold;
    font-size: 100px;
    margin-right: 38%;
    margin-left: 38%;
    font-size: 100px;
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*justify-content: center;*/
}

.texts h3:hover{
    /*box-shadow: 2px 3px 13px red;*/
    color: black;
}

/*.texts h4{
    color: blue;
    margin-right: 30%;
    margin-left: 30%;
}
*/

.sign-up .aha:hover{
    color: #cc1212;
}

.login-form .cna:hover{
    color: #cc1212;
}

.login-form .fp:hover{
    color: #cc1212;
}

